.dialog-container {
  background-color: #f1f1f1;
  position: fixed;
  z-index: 100;
}
.dialog-container-m {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dialog-container-w {
  width: 350px;
  height: 530px;
  right: 49px;
  bottom: 49px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 6px;
}
.icon-close {
  position: absolute;
  right: 10px;
  top: 14px;
}
.icon-send {
  transform: rotate(-30deg);
  position: relative;
  top: -3px;
}

header {
  flex: 0 0 auto;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
main {
  flex: 1 1 auto;
}
footer {
  flex: 0 0 auto;
}
.footTip-container {
  box-sizing: border-box;
}
.footTip {
  background-color: #fafafa;
  border-radius: 6px;
  margin: 0 5px;
  padding: 2px 5px;
}
.faceWrap {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
.face {
  width: 30px;
  height: 30px;
}
.chatTime {
  height: 20px;
  line-height: 20px;
  background-color: #eee;
  border-radius: 5px;
  padding: 0 5px;
}
.bubble {
  max-width: 70%;
  padding: 6px 10px;
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  .dialog-container {
    background-color: #f1f1f1;
  }
  header {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }
  .footTip {
    background-color: #fafafa;
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  .dialog-container {
    background-color: rgb(32, 35, 36);
  }
  header {
    background-color: rgb(38, 42, 43);
    border-bottom: 1px solid rgb(58, 62, 65);
  }
  .footTip {
    background-color: rgb(27, 29, 30);
    color: rgb(232, 230, 227);
  }
  .chatTime {
    background-color: rgb(34, 36, 38);
  }
}